.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.navbar-brand {
  color: rgb(24, 10, 92) !important;
  align-items: flex-start;
  font-size: large;
  align-self:flex-start;
  align-content: flex-start;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;}
.App-link {
  color: #61dafc;
}
.text-1{
  color: rgb(24, 10, 92) !important;
  align-items: flex-start;
  font-size: large;
  align-self:flex-start;
  align-content: flex-start;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
}
.price mt-1{
  stroke-linecap: initial;
}
.col-md-9 {
  flex: 1 1 100%;
  width: 100%;
  max-width: 100%;
  border-width: 1;
}
.banner-wrap{
  flex: 1 1 100%;
  width: 100%;
  max-width: 100%;
  border-width: 1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
